
# **Exploring and Summarizing Data**


Another important step in analysis is basic data summarization and exploration. Before we move on to any kind of statistical analysis or fancy machine learning, we must spend time with our data so we know their limits, their ability to give business insights by themselves, and their ability to be used in down stream modeling. Many times basic exploratory analysis is enough to satisfy our need to answer a business question â€” we shouldn't think that we always have to do fancy statistical analysis or machine learning to keep our jobs! 

In this section we'll work with the cleaned set of data we made in the "Wrangling Data" lesson. We'll highlight some basic data summarization and exploration techniques, and show how to export our analyses/results into files that we can ship to stakeholders or use for ourselves as a part of a grander analysis. 

##### Note:

`#` in the code blocks below denotes a comment that I have added for you to better understand what the code is saying/doing.




# **Preparation and loading in data for this exercise**

#### First, like the beginning of any Python script, we need to import certain code libraries that will help us do our work. 

The two libraries we will use in this exercise are pandas (`pd`) and numpy (`np`).

In [2]:
import pandas as pd
import numpy as np

Next, let's load in our raw example data

In [4]:
dat = pd.read_csv('./combined_data_for_analysis.csv') 

#read in CSV data and assign it to 
#an object we're calling "dat"
#remember that we can also read in excel files with pd.read_excel() 
#and even specify the sheet name by pd.read_excel(sheetname='name_of_the_sheet')

#note that we are using a google drive link to read in data-- this is the same "combined_data_for_analysis.csv" file in the 'exported_datasets_from_lessons' folder!

Then, we will take a look at the data

Let's get a sense of what the data look like using the `head` method

In [5]:
dat.head()

,Employee ID,First Name,Last Name,Email Address,Department,Job Level,Tenure,Pay Rate,Gender,Ethnicity,Tenure Date,Report Effective Date,Status,Annual Salary,Education,Tenure_Today
0,904,Samuel,Jelly,samuel.jelly@widgetcorp.com,Admin Offices,VP,8.086265,64.93,Male,1,2010-11-29,2018-12-31,Active,135054.4,Master,9.98
1,888,Phillip,Tewolde,phillip.tewolde@widgetcorp.com,Admin Offices,Executive,7.837873,57.43,Male,3,2011-02-28,2018-12-31,Active,119454.4,Bachelor,9.73
2,383,Raashid,el-Abdalla,raashid.el-abdalla@widgetcorp.com,Admin Offices,Director,4.711456,53.68,Male,6,2014-04-15,2018-12-31,Active,111654.4,Some College,6.60
3,664,Uthmaa N,el-Galla,uthmaa n.el-galla@widgetcorp.com,Admin Offices,Manager,6.080568,52.30,Male,6,2012-12-01,2018-12-31,Active,108784.0,Master,7.97
4,678,Jaquey,Shorty,jaquey.shorty@widgetcorp.com,Admin Offices,Analyst,6.164206,49.77,Male,3,2012-10-31,2018-12-31,Active,103521.6,PhD,8.06

# **Basic methods for summarizing datasets**

Pandas series are able to be manipulated in a variety of ways (depending on their type) very quickly and conveniently with a variety of methods.

### **Numeric Data**

#### **Averages**

To calculate an average of a numeric series, we use the `mean` method.

In [ ]:
#what's the average tenure at Widgetcorp?

dat['Tenure'].mean()

5.359137020491517

#### **Range (min and max)**

To calculate an range of a numeric series, we use the `range` method.

In [ ]:
#what's the minimum and maxiumum tenure at Widgetcorp?
#to make this easy to see, we will save the values to variables that we will
#call in a dictionary objecct below

minimum_tenure=dat['Tenure'].min()

maximum_tenure=dat['Tenure'].max()


{'WidgetCorp minimum tenure': round(minimum_tenure,3),
 'WidgetCorp maximum tenure': round(maximum_tenure,3)}

{'WidgetCorp maximum tenure': 11.916, 'WidgetCorp minimum tenure': 0.85}


#### **The `describe` method**

Sometimes, we want a dump of all summary statistics for all of the data that is in our dataset. We can do this quickly using the describe method for numeric data.

In [ ]:
#we'll apply the describe method to examine all of the numeric variables 
dat.describe(include='number')

       Employee ID      Tenure  ...  Annual Salary  Tenure_Today
count   526.000000  526.000000  ...     526.000000    526.000000
mean    491.150190    5.359137  ...   84600.559696      7.252452
std     286.849438    1.884036  ...   25350.894258      1.884209
min       2.000000    0.849914  ...   46529.600000      2.740000
25%     242.500000    4.001824  ...   65613.600000      5.892500
50%     489.500000    5.175905  ...   78468.000000      7.070000
75%     730.250000    6.451909  ...   97484.400000      8.342500
max    1000.000000   11.915697  ...  191817.600000     13.810000

[8 rows x 6 columns]

## **Categorical Data**

Since we can't take averages of things that are categorical (such as department, job level, etc.), we need to summarize that data in a different way. Here are some common operations for that:

### **Unique Values**

Sometimes we just want to know the names of all of the categories we have in our data.

For example, at WidgetCorp, what are the different job levels?

For this we use, the `.unqiue()` method.

In [ ]:
dat['Job Level'].unique()

array(['Associate', 'VP', 'Analyst', 'Executive', 'Director', 'Manager'],
      dtype=object)

### **Counts**

How many people are in each department? We can use the `.value_counts()` method for this.

In [ ]:
dat['Department'].value_counts()

Sales          96
Engineering    92
Operations     68
Marketing      66
Procurement    54
IT/IS          42
Design         35
HR             24
Finance        19
Legal          12
Complaince     10
Executive       8
Name: Department, dtype: int64

### **Modes**

What is the most Edcuation attainment level in my dataset? We can use the `.mode()` method in Pandas for this.

In [ ]:
dat['Education'].mode()

0    Some College
dtype: object


### **The `describe` method**

Just like we would do for numeric data to provide many summary statistics for our data in one spot, we use the `describe` method, but we tell it to only run the statistics for `object` columns (or data that aren't numeric).

In [ ]:
#we'll apply the describe method to examine all of the categorical variables -- which recall from our previous 
#lesson is described as an `object` in Pandas
dat.describe(include='object')

       First Name Last Name  ...  Status     Education
count         526       526  ...     526           526
unique        429       470  ...       1             5
top       Matthew     Smith  ...  Active  Some College
freq            6         4  ...     526           164

[4 rows x 10 columns]




# **Exploring the data by groups**

In the previous section, we applied the `value_counts` method to a specific column in our dataset, which allowed us to see the number of records associated with a particular value in the `Department` variable. 

Pandas also has an extremely useful method called `groupby` which, as the name suggests, creates groups based on the variable(s) you pass to it. You can then quickly add another method after the `groupby` method that calculates some information over groups, or does other kinds of operations. __[Read more about groupby in pandas here.](https://www.tutorialspoint.com/python_pandas/python_pandas_groupby.htm)__

Headcount is a frequenlty requested chunk of information both for reporting and for analytical purposes. As analysts, we frequently slice and dice data to get a very specific look at a number of populations. 

Let's get a few different kinds of headcount with our cleaned example data.

In [ ]:
#Let's start with headcount by department
#We use the .size method here to do a count of the records 
#we'll assign it to an object called department_count

department_count = dat.groupby('Department').size()

department_count

Department
Complaince     10
Design         35
Engineering    92
Executive       8
Finance        19
HR             24
IT/IS          42
Legal          12
Marketing      66
Operations     68
Procurement    54
Sales          96
dtype: int64

In [ ]:
#Now let's get department AND Job Level; note we have to give groupby a list since we have more than one column we're making groups over
department_job_level_count = dat.groupby(['Department','Job Level']).size() 

department_job_level_count

Department   Job Level
Complaince   Analyst       6
             Associate     3
             VP            1
Design       Analyst       9
             Associate    11
             Director      5
             Executive     2
             Manager       7
             VP            1
Engineering  Analyst      33
             Associate    26
             Director      7
             Executive     4
             Manager      15
             VP            7
Executive    Analyst       4
             Manager       2
             VP            2
Finance      Analyst       6
             Associate     9
             Director      3
             Manager       1
HR           Analyst       6
             Associate    10
             Director      2
             Manager       3
             VP            3
IT/IS        Analyst      10
             Associate    14
             Director      5
             Executive     1
             Manager      11
             VP            1
Legal        Analyst       5
             Associate     3
             Executive     1
             Manager       3
Marketing    Analyst      20
             Associate    16
             Director      7
             Manager      14
             VP            9
Operations   Analyst      26
             Associate    19
             Director      4
             Executive     2
             Manager      16
             VP            1
Procurement  Analyst      15
             Associate    18
             Director      2
             Executive     3
             Manager      11
             VP            5
Sales        Analyst      29
             Associate    27
             Director     12
             Executive     2
             Manager      19
             VP            7
dtype: int64




## **Calculating averages, medians, and other statistics by groups**

As mentioned above, we can simply add another method after the `groupby` method to get a certain metric we want. 

Let's start by calculating median tenure for each department.

In [ ]:
#Like the above, we'll first group by state, but since the variable we care about is tenure,
#we'll need to specify it after the groupby method
#then assign it to an object called deparment_median_tenures

deparment_median_tenures = dat.groupby(['Department','Job Level'])['Tenure'].median() 

deparment_median_tenures # we can see that Marketing has the highest median tenure

Department   Job Level
Complaince   Analyst       3.723778
             Associate     4.894980
             VP            7.400493
Design       Analyst       3.911450
             Associate     4.872070
             Director      8.694525
             Executive     9.836971
             Manager       6.191378
             VP            6.402611
Engineering  Analyst       3.554324
             Associate     5.157235
             Director      7.166359
             Executive    10.484115
             Manager       6.301936
             VP            9.124182
Executive    Analyst       3.574169
             Manager       5.650496
             VP            7.862658
Finance      Analyst       4.691324
             Associate     4.542251
             Director      7.491096
             Manager       5.522333
HR           Analyst       3.424249
             Associate     4.550420
             Director      7.825582
             Manager       6.098291
             VP            6.926572
IT/IS        Analyst       3.867714
             Associate     5.415214
             Director      5.986735
             Executive     7.463804
             Manager       6.429438
             VP            6.850524
Legal        Analyst       4.007917
             Associate     5.828233
             Executive     8.672599
             Manager       5.000910
Marketing    Analyst       4.083034
             Associate     4.643197
             Director      8.103059
             Manager       6.033202
             VP            8.813922
Operations   Analyst       4.241775
             Associate     5.265517
             Director      6.735946
             Executive     9.734801
             Manager       5.916554
             VP            9.665948
Procurement  Analyst       4.264875
             Associate     5.006106
             Director      7.155016
             Executive     8.423632
             Manager       5.064941
             VP            8.307313
Sales        Analyst       3.834650
             Associate     4.993435
             Director      7.233460
             Executive    10.853122
             Manager       6.060623
             VP            7.138731
Name: Tenure, dtype: float64

Sometimes we want to put multiple sets of statistics side-by-side. `pd.pivot_table` is a good way to make this happen. __[Read more about pivot tables in pandas here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)__. Just like the name suggests, it works like a pivot talbe in excel. We could have run `pd.pivot_table` in the examples above (instead of using a `.groupby` method), as well.

In [ ]:
#let's put the mean, median, and standard deviation side by side for Tenure by Job LEvel

tenure_pivot=pd.pivot_table(dat, #tell it what data you want to pivot on
                         values='Tenure', #what values should be considered
                         index='Job Level', #what the values should be grouped over
                         aggfunc=[np.mean,np.median,np.std])  #a list of base python +  numpy (np) functions that 
                                                                  #will calculate our summary stats [mean, 
                                                                  #median, standard deviation (respectively)]
        
tenure_pivot

               mean    median       std
             Tenure    Tenure    Tenure
Job Level
Analyst    3.883526  3.832770  1.168013
Associate  4.965184  5.049577  1.101015
Director   7.181803  7.234633  1.288165
Executive  9.634831  9.790547  1.218140
Manager    5.936964  5.901501  1.153419
VP         8.118483  8.087039  1.459061




# **Visualizing data from pandas dataframes**

Pandas includes a variety of built-in visualization functions to help you further explore your data. __[Read more about visualizaing data in pandas here](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html)__.

Suppose we want to expore the relationship between Tenure and Salary. Let's plot both variables separetely, and then together.

### **Bar Charts**

Barcharts are easy and straightforward to make in pandas using applying `plot.bar()` to your output.

In [ ]:
department_barchart=dat['Department'].value_counts().plot.bar()

department_barchart.set_xlabel('Department') #set an x-axis label
department_barchart.set_ylabel('Number of Employees') #set a y-axis label

department_barchart

In [ ]:
#we can also use a groupby statement to make barcharts

department_gender_barchart=dat.groupby('Gender')['Department'].value_counts().unstack(0).plot.bar() #note we need to unstack the dataframe to plot it correctly

department_gender_barchart.set_xlabel('Department') #set an x-axis label
department_gender_barchart.set_ylabel('Number of Employees') #set a y-axis label

department_gender_barchart

### **Histograms**

Histograms help us see the distribution of data.

In [ ]:
tenure_plot = dat['Tenure'].hist() #we just apply the .hist method to denote that we want a histogram

#set axis labels
tenure_plot.set_xlabel('Tenure')
tenure_plot.set_ylabel('Number of Employees')

tenure_plot

In [ ]:
#We can also get a histogram by Job Level
tenure_department_hist=dat['Tenure'].hist(by=dat['Job Level'],figsize=(10, 6))

tenure_department_hist

### **Box and Whisker Plots**

Box and whisker plots also tell us about the distributions of our data, but also give us important summary statistics in their markings. 

They also are useful tools to compare the distributions of two or more groups.

In [ ]:
tenure_boxplot=dat.boxplot(column='Tenure')

#The box tells us the inter quartile range of the data
#The stripe in the middle tells us the median of the data
#The whiskers of the plot tell us range of the data (excluding outliers) = 1.5*(3rd Quartile - 1st Quartile)
#The circles are outlier datapoints outside of the whiskers

In [ ]:
#By Group
tenure_boxplot=dat.boxplot(column='Tenure',by='Department',figsize=(15,10),grid=False)

#The box tells us the inter quartile range of the data
#The stripe in the middle tells us the median of the data
#The whiskers of the plot tell us range of the data (excluding outliers) = 1.5*(3rd Quartile - 1st Quartile)
#The circles are outlier datapoints outside of the whiskers

## **Scatter Plots**

In [ ]:
#Q: Is there a relationship between tenure and salary? Let's use a scatter plot to help us decide.

dat.plot.scatter(x='Tenure', y='Annual Salary') #for this kind of plot, we need to put the .plot method first

#A: it appears there is one, but we should do much more investigation before we come up with any kind of generalization!

## **Line Charts**

Line charts are useful to show how something changes over time.

In [ ]:
# Since the data we have loaded in doesn't have a time compnent, we will first make a fake dataframe on attrition

attrition_data=pd.DataFrame({'quarter':['2019Q1','2019Q2','2019Q3','2019Q4','2020Q1','2019Q2'],
                             'vol_terms':[20,30,20,13,12,17],
                             'average_hc':[200,187.2,192.2,185,174,180]})

#divide terms by average head count, multiply by 100, and round to the nearest tenth
attrition_data['Vol Terms Pct.']=np.round(attrition_data['vol_terms']/attrition_data['average_hc']*100,3)

#now plot just the quarter for the X axis, and voluntary terms as the Y axis and save to an object called 
attrition_data.plot.line(x='quarter',y='Vol Terms Pct.')

### **Vertical and horizontal lines**

We can also add a vertical line to our charts to mark an event that may have an influence on what we are analyzing. 

Horizontal lines can give us an idea of a datapoint relative to a certain level (such as an average or a range).

In [ ]:
#let's start with an event marker (vertical line) for the start of the global COVID-19 pandemic

import matplotlib.pyplot as plt #we'll need the matplot lib pyplot library for this to work well

myplot=attrition_data.plot.line(x='quarter',y='Vol Terms Pct.') #make the same plot as above and save it to an object called 'myplot'
myplot.axvline(x=attrition_data.loc[attrition_data['quarter']=='2020Q1'].index[0], # make the vertical line on observation # that matches 2020Q1
            linewidth=0.75, #make the line sort of skinny
            color='r', ) #make the line red

myplot.text(x=attrition_data.loc[attrition_data['quarter']=='2020Q1'].index[0]*1.02, #x coordinate of text with a 2% offset
            y=13, #y coordinate of text
            s='COVID-19 \nOnset', # text itself - the `\n` makes the text go into two lines
            color='r') #make the color red

In [ ]:
# now let's do a horizontal line  

myplot=attrition_data.plot.line(x='quarter',y='Vol Terms Pct.') #make the same plot as above and save it to an object called 'myplot'
myplot.axhline(y=attrition_data['Vol Terms Pct.'].mean(), # make the vertical line on observation # that matches 2020Q1
            linewidth=0.75, #make the line sort of skinny
            color='r', #make the line red
            linestyle=':') #make line dotted

myplot.text(y=attrition_data['Vol Terms Pct.'].mean()*1.02, #y coordinate of text to be average plus a 2% offset
            x=3, #x coordinate of text
            s='Attrition Period Average', #text itself
            color='r') #make the color red




## **Other (more robust) visualizations and libraries for visualization**

We have just scratched the surface of Python's visualization capabilities. 

Depending on the business problem you are trying to analyze, and the audience you are presenting findings to, you will need to rely on Pandas documentation, stack overflow, and other libraries to make the visualization to fit the need.

Check out:

__[Matplotlib](https://matplotlib.org)__ - a very rich, highly customizable library for data visualization
<br>
__[Seaborn](https://seaborn.pydata.org)__ - Based on matplotlib: clean and easy to make publication-ready visuals
<br>
__[Bokeh](https://bokeh.pydata.org/en/latest/)__ - produces interactive visuals




# **Save out the data tables from this exercise in a "shippable" format**

Just like in previous sections, we can use the `.to_csv` method to export data to a CSV file. 

If you have reports or analyses you regularly run, you can export them in packaged excel workbooks. To do this we'll use the `ExcelWriter` method in pandas to bundle our worksheets together.

#### Note: 
Ok, so when opening these excel files, you'll notice there could be some more fine tuning with the formatting. So you may not deem them shippable using the code in this exercise--so you may want to do a little more dressing up before you send to an HRBP or the CHRO :), but at least you know how exactly the data were generated and they were bundled together for you in one spot at the click of a button.

In [ ]:
#first, let's write out the data files


#first make a writer object 
#that will assemble the worksheets in to one
#single workbook
writer = pd.ExcelWriter(path='drive/My Drive/Python for HCM Datasets from Lessons/Tenure and Department Report.xlsx') 

#now we specify which views we've put into this analysis into a bundled report, 
department_count.to_excel(writer,sheet_name='Headcount by Department')
tenure_pivot.to_excel(writer,sheet_name='Tenure by Department')
dat.to_excel(writer,sheet_name='Raw Data',index=False)

writer.save()#now we're ready to save out the workbook